[submodule "api"]
	path = src/api
	url = https://github.com/GreenpeaceSkunk/greenlab-api.git
[submodule "coupon"]
	path = src/coupon
	url = https://github.com/GreenpeaceSkunk/cupon-mercadopago.git

[submodule "landing-downgrade"]
	path = src/landing-downgrade
	url = https://github.com/GreenpeaceSkunk/landing-downgrade
